					
					<!-- CSS -->
					<link rel="stylesheet" href="css/createpresc.css">
					<!-- Page Content -->
					
					
					<div class="container">
					
						
					
						<div class="row">
					
							<div class="col-md-12">				
					
								<label for="disease" class="col-sm-2">Select Disease&nbsp;</label> <span
									class="input-group input-group-sm custom-search-form pull-left col-md-4">
									<input id="disease_text" type="text" ng-model="selectedDisease"
									typeahead="disease for disease in diseaselist | filter:$viewValue | limitTo:8"
									class="form-control" placeholder="Search disease..."
									typeahead-on-select='onDiseaseSelect($item, $model, $label)'>
									<span class="input-group-btn">
					
										<button id="addPrescription" class="btn btn-default" type="button"
											data-toggle="tooltip" data-placement="right" title="Add"  ng-click="addNewPrescription ()">
											<i class="fa fa-plus-square"></i>
										</button>
								</span>
								</span>
							</div>
								</div>
					
						<div class="row" >
							
							<div class="col-md-6" >
									<fieldset class="with-border">
										<legend class="with-border">{{selected_disease}} </legend>
										
								
											
						
													<div class="form-group">
														<label for="medication" class="col-sm-5 control-label">Medication&nbsp;
														
														</label>
														<div class="col-sm-5">
															<input type="text" id="medication"
																class="form-control mandatory alpha" ng-readonly="readonly"
																placeholder="Enter medication.." ng-model="selectmedication.medication" />
														</div>
														<span class="error-span col-sm-3" style="display: none;"></span>
													</div>
												
										
										
										
										
							
							
										<div class="form-group">
											<label for="dose" class="col-sm-5 control-label">Dose&nbsp;
											</label>
											<div class="col-sm-5">
												<input type="text" id="dose"
													class="form-control mandatory alpha" 
													ng-readonly="readonly" placeholder="Enter dose.." ng-model="selectmedication.doses"/>
											</div>
											<span class="error-span col-sm-3" style="display: none;"></span>
										</div>
										
										
										<div class="form-group">
											<label for="route" class="col-sm-5 control-label">Route&nbsp;
											</label>
											<div class="col-sm-5">
												<input type="text" id="route"
													class="form-control mandatory alpha" 
													ng-readonly="readonly" placeholder="Enter route.." ng-model="selectmedication.route" />
											</div>
											<span class="error-span col-sm-3" style="display: none;"></span>
										</div>
										
										
										<div class="form-group">
											<label for="instruction" class="col-sm-5 control-label">Instructions&nbsp;
											</label>
											<div class="col-sm-5">
											
											 <textarea class="form-control" rows="5" id="instruction" ng-readonly="readonly"
											 
											 ng-model="selectmedication.instruction" placeholder="Enter instruction.."></textarea>
												
											</div>
											<span class="error-span col-sm-3" style="display: none;"></span>
										</div>
										
										<div class="form-group buttons" align="center"
													style="padding: 8px;">
													<button type="button" id="addToPaper" ng-click="addDrug()"
														style="float: right; margin-left: 10px; margin-top: 13px;"
														class="btn btn-primary btn-xs">Add</button>
					
												</div>
									</fieldset>
							
								</div>
							
									<div class="papers col-md-6" style="margin-top: 15px;">
					
									<div class="row">
					
										<div class="form-group col-sm-2">
											<img src="images/rxlogo.jpg" alt="rxloho" width="25" height="30">
										</div>
										<div class="form-group">
											<label for="Patient Name" class="col-sm-6 control-label"><font
												size="1">Patient Name</font> </label>
										</div>
					
										<div class="form-group">
											<label for="Patient Age" class="col-sm-5 control-label"><font
												size="1">Patient Age</font> </label>
										</div>
					
					
					
									</div>
									<hr>
					
					
					
					
					
					
					
									<div id="" ng-repeat="medicine in prescription"
										style="width: 90%; display: block;">
					
					
					
										{{medicine.medication}} 
										{{medicine.doses}} 
										{{medicine.route}} 
										{{medicine.instruction}} 
										
										
									</div>
									<div id="inline" style="width: 90%; display: block;">
										{{selectmedication.medication}}</div>
					
									<div id="inline" style="width: 90%; display: block;">
										{{selectmedication.doses}}</div>
										
										<div id="inline" style="width: 90%; display: block;">
										{{selectmedication.route}}</div>
										
										
										
										<div id="inline" style="width: 90%; display: block;">
										{{selectmedication.instruction}}</div>
					
					
								</div>
							</div>
						</div>
			
					<!-- /#page-wrapper -->
					
					<!-- Custom Theme JavaScript -->
					<script src="js/sb-admin-2.js"></script>
					<script>
					        
					        
					
					</script>
