        <!-- Page Content -->

        
 <style>

  #content {
      background: #fff;
      border-top: 2px solid #3d3d3d;
      padding: 2em;
      /*height: 220px;*/
  }

  #content h2,
    #content h3,
    #content p {
      margin: 0 0 15px 0;
  }  

#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
span.closed{
	position:relative;
	z-index: 9999;
	top:0;
	right: -357px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 15px;
    background: #F21919;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 10px 7px;       
}

span.closed:before {
    content: 'x';
}

#tabs li {
  float: left;
  margin: 0 -15px 0 0;
}

#tabs a {
  float: left;
  position: relative;
  padding: 0 40px;
  height: 0; 
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #3D3D3D;
  border-bottom-color: #777\9;
  opacity: .3;
  filter: alpha(opacity=30);    
}

#tabs a:hover,
#tabs a:focus {
  border-bottom-color: #2ac7e1;
  opacity: 1;
  filter: alpha(opacity=100);
}

#tabs a:focus {
  outline: 0;
}

#tabs #current {
  z-index: 3;
  border-bottom-color: #3d3d3d;
  opacity: 1;
  filter: alpha(opacity=100);   
}

label {
    font-size: 19px;
}


.page-header {
  
  margin: 7px -26px 21px;
 
}


.alert {
  ;
  border-radius: 16px;
}



.papers {
  background-color: rgb(236, 249, 121);
  height: 350px;
  padding: 20px;
  width: 260px;
  -webkit-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  -moz-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
    
}


.btn-xs, .btn-group-xs>.btn {
  padding: 3px 37px;
  font-size: 14px;
  
}



</style>
			<div id="page-wrapper">
			
			<div class="row">
					<div class="col-lg-12">
						<h4 class="page-header alert alert-success pull-center">Create
							Prescription</h4>
					</div>
				</div>
				
				<div class="row">
			
					<div class="col-md-12">
					
					
  {{prescription}}
  
  
 
					<label for="disease" class="col-sm-6">Select Disease&nbsp;</label> 
					
					<span class="input-group input-group-sm custom-search-form pull-right">
			                            <input type="text" class="form-control" placeholder="Search disease..." >
			                            <span class="input-group-btn">
			                            
			                             <button id="addPrescription" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="right" title="Add">
			                                <i class="fa fa-plus-square"></i>
			                            </button>
			                       		 </span>
			                        </span>
				</div>
						
				<div class="row" id="prescription_main" style="margin-top: 15px;">
					<div class="col-md-8" style="margin-top: 10px;">
						<ul id="tabs">
							<li><span class="closed"></span><a href="#" name="#tab1">Fever</a></li>
						</ul>
						<div id="content">
							<div id="tab1">
								<form id="prescriptionForm" class="form-horizontal" action='#' method="POST" >
								<div class="form-group">
									<label for="medication" class="col-sm-4 control-label">Medication&nbsp;</label>
						
										<div class="col-sm-8">
											
			                            <input type="text" ng-model="selectmedication.drugname"  class="form-control" placeholder="Add medicine..." >
			                            
			                        
								</div>
							</div>
							
							<div class="form-group">
									<label for="route" class="col-sm-4 control-label">Route&nbsp;</label>
						
										<div class="col-sm-8">
											
			                            <input type="text" ng-model="selectmedication.adminroute" class="form-control" placeholder="route..." >
			                           
								</div>
							</div>
								
							
								<div class="form-group buttons" align="center" style="padding: 8px;">
								<button type="button" id="addToPaper" ng-click="addDrug()" style="float: right; margin-left: 10px;" 
			                      	class="btn btn-primary btn-xs" > 
			                      	 Add
	                      	</button> 
						
					</div>
								
								</form>
							</div>
						</div>
					</div>
					
					<div class="papers col-md-5" style="margin-top: 15px;">
						<div id="" ng-repeat="medicine in prescription"  style="width: 90%; display: block;">
							
							
							
							{{medicine.drugname}}
						</div>
						<div id="inline" style="width: 90%; display: block;">
							{{selectmedication.drugname}}
						</div>
						
						<div id="inline" style="width: 90%; display: block;">
							{{selectmedication.adminroute}}
						</div>
					
				
					</div> 
				</div>
			</div>
		</div>
<!-- /#page-wrapper -->

        <!-- Custom Theme JavaScript -->
        <script src="js/sb-admin-2.js"></script>
        <script>
        
        $('select').select2({ width : '50%'});
function resetTabs(){
    $("#content > div").hide(); //Hide all content
    $("#tabs a").attr("id",""); //Reset id's      
}

var myUrl = window.location.href; //get URL
var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For mywebsite.com/tabs.html#tab2, myUrlTab = #tab2     
var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

$(document).ready(function() {
    $("#content > div").hide(); // Initially hide all content
    $("#tabs li:first a").attr("id","current"); // Activate first tab
    $("#content > div:first").fadeIn(); // Show first tab content
    
    $("#tabs a").on("click",function(e) {
        e.preventDefault();
        if ($(this).attr("id") == "current"){ //detection for current tab
         return       
        }
        else{             
        resetTabs();
        $(this).attr("id","current"); // Activate this
        $($(this).attr('name')).fadeIn(); // Show content for current tab
        }
    });
	 $("span.closed").on("click",function(e) {
        e.preventDefault();
		var current_tab_li = $(this).closest('li');
		if($(current_tab_li).find('a').attr("id") == "current"){ //detection for current tab
			var index = $(current_tab_li).index();
			if($(current_tab_li).is(':last-child')) {
				resetTabs();
				$("#tabs li").eq(index-1).find('a').attr("id","current"); // Activate this
				$($("#tabs li").eq(index-1).find('a').attr('name')).fadeIn(); // Show content for current tab
			}else{
				resetTabs();
				$("#tabs li").eq(index+1).find('a').attr("id","current"); // Activate this
				$($("#tabs li").eq(index+1).find('a').attr('name')).fadeIn(); // Show content for current tab
			}
		}

		$($(current_tab_li).find('a').attr('name')).fadeOut();
		$(current_tab_li).fadeOut();
		$($(current_tab_li).find('a').attr('name')).remove();
		$(current_tab_li).remove();
    });

    for (i = 1; i <= $("#tabs li").length; i++) {
      if (myUrlTab == myUrlTabName + i) {
          resetTabs();
          $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
          $(myUrlTab).fadeIn(); // Show url tab content        
      }
    }
    $('#addPrescription').on("click",function(e) {
    	var disease="XYZ";
    	$('#prescription_main').append('<div class="col-md-12"><ul id="tabs"><li><span class="closed"></span><a href="#">'+disease+'</a></li></ul><div id="content"><div id="tab1"></div></div></div>')
    });
    
   
});
</script>
