
        <div id="page-wrapper" style="min-height: 900px;">
            <div class="row">
                <div class="col-lg-12" style="margin-top: -30px; margin-bottom: -10px;">
                     <h4 class="page-header alert alert-success pull-center"><i class="fa fa-tachometer "> </i> Dashboard 
                     <span class="pull-right"><i class="fa fa-stethoscope"> Dr. Smita Gutgutia </i></span>
                     </h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">3/10</div>
                                    <div>Today's Appointments</div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="panel-footer">
                                <span class="pull-left">Total Appointments 1245</span>
                                <span class="pull-right"><i class="fa fa-calendar-o"></i></span>
                                <div class="clearfix"></div>
                            </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">200</div>
                                    <div>Patients</div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="panel-footer">
                                <span class="pull-left">Your Total Patients</span>
                                <span class="pull-right"><i class="fa fa-calendar-o"></i></span>
                                <div class="clearfix"></div>
                            </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">30 </div>
                                    <div>minutes</div>
                                </div>
                            </div>
                        </div>
                       
                            <div class="panel-footer">
                                <span class="pull-left">Average waiting time</span>
                                <span class="pull-right"><i class="fa fa-clock-o"></i></span>
                                <div class="clearfix"></div>
                            </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-lg-5">
            		 <div class="panel panel-primary">
           		 	 <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Today's Patients List</div>
                                    
                                </div>
                            </div>
                        </div>
                        	<table class="table table-hover table-condensed table-bordered">
								 <thead>
							        <tr>
							          <th>Name</th>
							          <th>Age</th>
							          <th>Sex</th>
							          <th>Treatment</th>
							          <th width="2%"></th>
							        </tr>
							      </thead>
							      <tbody>
							      	<tr>
								      	<td>Ruhul Amin</td>
								      	<td>34</td>
								      	<td>Male</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-check-square-o"></i></td>
								    </tr>  		
								    <tr >
								      	<td>Shakira</td>
								      	<td>26</td>
								      	<td>Female</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-check-square-o"></i></td>
								    </tr>  
								     <tr class="info" >
								      	<td>Suheyl Amin</td>
								      	<td>3</td>
								      	<td>Male</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-stethoscope"></i></td>
								    </tr>  	
								    <tr >
								      	<td>Abrar Alvi</td>
								      	<td>23</td>
								      	<td>Male</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-spinner"></i></td>
								    </tr>  		
								     <tr >
								      	<td>Shamim Alvi</td>
								      	<td>45</td>
								      	<td>Female</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-spinner"></i></td>
								    </tr>  			
								     <tr >
								      	<td>karthik P</td>
								      	<td>35</td>
								      	<td>Maale</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-spinner"></i></td>
								    </tr>  		
								     <tr >
								      	<td>Zabeed Ahmed</td>
								      	<td>25</td>
								      	<td>Male</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-spinner"></i></td>
								    </tr>  		
								     <tr >
								      	<td>Manmohan Singh</td>
								      	<td>45</td>
								      	<td>Male</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-spinner"></i></td>
								    </tr>  		
								    <tr >
								      	<td>Arvind Kejriwal</td>
								      	<td>45</td>
								      	<td>Male</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-spinner"></i></td>
								    </tr>  		
								    <tr >
								      	<td>Manish S</td>
								      	<td>45</td>
								      	<td>Male</td>
								      	<td>Regular checkup</td>
								      	<td><i class="fa fa-spinner"></i></td>
								    </tr>  			
							      </tbody>					
								
							</table>
	                 </div>	
            </div>
           	<div class="col-lg-7" >
           		 <div class="panel panel-primary">
           		 	 <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Appointments</div>
                                    
                                </div>
                            </div>
                        </div>
                 	<div id='calendar' style="margin-top: 10px;"></div>
                 </div>	
             </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <!-- Morris Charts JavaScript -->
        <script src="js/plugins/morris/raphael.min.js"></script>
        <script src="js/plugins/morris/morris.min.js"></script>
        <script src="js/plugins/morris/morris-data.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/sb-admin-2.js"></script>
		
		<!-- full calendar -->
        <link href='js/plugins/full-calendar/fullcalendar.min.css' rel='stylesheet' />
		<link href='js/plugins/full-calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
		<script src='js/plugins/full-calendar/lib/moment.min.js'></script>
		<script src='js/plugins/full-calendar/fullcalendar.min.js'></script>
		<script src='js/calendar.js'></script>
		
		